/*
  *** Encabezado
*/

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#team_id_welcome {
  font-weight: bold;
}

/*
  *** Titulo
*/

.main_title_container {
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
  background-color: #000;
  width: 100%;
  box-sizing: border-box;
}

.main_title {
  font-weight: normal;
  font-size: 2em;
}

.bold_title {
  font-weight: bolder;
  font-size: 1em;
}

.main_paragraph {
  font-family: Helvetica, sans-serif;
  width: 95%;
  margin: auto;
  margin-top: 2em;
}

/*
  *** imagenes
*/

.content_images {
  margin: auto;
  margin-top: 2em;
}

@media screen and (max-width: 1920px) {
  .images_container {
    margin: 2em;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .images_container {
    margin: 1em;
    display: flex;
    flex-flow: column;
    text-align: center;
  }
}

/*
  *** enlaces
*/

.section_links {
  display: flex;
  justify-content: space-around;
  background-color: #F3F3F3;
}

.section_links div {
  font-size: 20pt;
  align-content: center;
  text-align: center;
  padding: 2%;
}

/*
  *** pistas
*/

.section_tips{
  background-color: #F3F3F3;
  padding: 2%;  
}

.show_tip {
  display: initial;
  color: #000;
}

.hidden_tip {
  display: none;
  color: white;
}

/*
  *** estilos generales
*/

.neutral_text_feedback {
  color: #000;
  font-weight: bold;
}

.ok_text_feedback {
  color: green;
  font-weight: bold;
}

.error_text_feedback {
  color: red;
  font-weight: bold;
}


.middle_title{
  background-color: #CCC;  
  text-align: center;
  padding: 2%;
}